.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  border: 1px solid white;
  min-height: 260px;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.title {
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
}

.start {
  margin-right: 5px;
}


.end {
  margin-left: 5px;
}