.title {
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid white;
  min-height: 260px;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}