.wrapper {
  display: flex;
  margin: 0 auto;
  min-width: 418px;
  min-height: 25px;
}


.inputHw2 {
  width: 373px;
  outline: none;
  border: 3px solid paleturquoise;
  cursor: pointer;
  background-color: #181828;
  color: white;
  border-radius: 5px;
  height: 25px;
}


button {
  background-color: paleturquoise;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}