.wrapper {
  display: flex;
  margin: 0 auto;
  min-width: 418px;
  min-height: 25px;
}


input {
  flex-grow: 1;
  outline: none;
  border: 3px solid paleturquoise;
  cursor: pointer;
  background-color: #181828;
  color: white;
}


button {
  background-color: paleturquoise;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}