.superInput {
    display: flex;
    align-items: center;
    color: white;
    height: 25px;
    width: 200px;
    border: 1px solid white;
    box-shadow: 0px 5px 8px #888888;
    background-color: #181828;
    font-size: 16px;
    padding-left: 10px;
}

.errorInput {
    border: 3px solid lightcoral;
    background: lightgrey;
    height: 25px;
    width: 200px;
    margin-bottom: 10px;
}

.error {
    color: lightgrey;
}
