.blue {
  border-bottom: 1px solid cornflowerblue;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 30px;
  color: cornflowerblue;
  font-weight: bold;
  margin-bottom: 30px;
}


.wrap {
  padding-bottom: 50px;
}