.default {
    min-width: 85px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid white;
    background-color: #181828;
    cursor: pointer;
}

.default:hover {
    opacity: 0.7;
}

.default:active {
    opacity: 1;
    color: #08ffff;
    border: 1px solid #08ffff;
}

.red {
    margin-top: 20px;
    margin-bottom: 20px;
    background: cornflowerblue;
    padding: 10px;
    border-radius: 10px;
}

