
.error {
    border: 1px solid red;
    background-color: #181828;
    height: 25px;
    border-radius: 5px;
    flex-grow: 1;
    padding: 4px 0;
}

.text {
    font-size: 15px;
    color: red;
}

.btn {
    padding: 9px;
    border-radius: 5px;
}

input {
    height: 25px;
    border-radius: 5px;
}

.total {
    color: hotpink;
    font-weight: bold;
    font-size: 65px;
    padding-left: 30px;
    margin: 0;
}

.wrap {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}